# Telco Classificatin Project - Working

### Project Goals

The goal of this project is to identify drivers of customer churn and and make a recommend changes that will ncrease customer retention.


### Project Description

Customer churn is a problem that is costing Telco revenue. This project attempts to identify reasons for customer churn in order to increase customer retention and reduce loss of revenue. The knowledge gained could expand beyond customer retention to improve sales by identifying what customers like and dislike. This project will anaylize the attributes of customers that churn to build a model that will predict the probablity of a customer churning given specific attributes. 

### Initial Questions

How many customers are churning?

At what month of tenure are they churning?

What non-monetary drivers are associated with churned customers?

What monetary drivers are associated with churned customers?

Do monetary drivers outweigh non-monetary drivers?

What drivers are easiest to change with least amount of impact to the customer?

In [ ]:
### Get Data
- Added env.py to the repo .gitignore
- Created an env file that contains my username, password, and host address.
- Added

In [ ]:
### Clean Data

In [ ]:
### Prep Data and Split Data

In [ ]:
### Explore Train Data to answer the 4 questions

In [ ]:
### Provide 5-min Visuals for exploration (two with statistical test)

In [ ]:
### Summarize Exploration

In [ ]:
## Modeling

In [ ]:
##### Select Evaluation Metric (Report.ipynb)
##### Evaluate Baseline (Report.ipynb)
##### Develop 3 Models (Report.ipynb)
#### Evaluate on Train (Report.ipynb)
##### Evaluate on Validate (Report.ipynb)
##### Evaluate Top Model on Test (Report.ipynb)

In [ ]:
## Report (Final Notebook) 

#### code commenting (Report.ipynb)
#### markdown (Report.ipynb)

#### Written Conclusion Summary (Report.ipynb)

#### conclusion recommendations (Report.ipynb)

#### conclusion next steps (Report.ipynb)

#### no errors (Report.ipynb)

In [ ]:
## Live Presentation

### intro (live)

### audience & setting  (live)

### content (live)

### Verbal Conclusion (findings, next steps, recommendations)  (live) 

### time (live)

In [ ]:
## Deliver Predictions

### Deliver predictions (.csv)

intro

goals
summary

acquire data from ...

In [ ]:
import acquireTitanic

df = acquireTitanic.get_data()

Prep data by...

- encode embarked
- drop embarked and embark_town (interdependent on each other and represented in

In [ ]:
import pandas as pd

print(df.info())

df.head()

**to-do**

1. Class/pclass: Do pclass and class represent the same info? If so, drop class and keep pclass because it is represented as an integer.
1. Dummy Vars: Are embarked and embark_town represent the same information? If so, get dummy variables for sex, embarked
1. Drop columns: embarked and sex columns (now dummy vars), deck (almost 700 missing values), class (#1 above was a YES). 
1. Drop rows: where age is missing (177 rows are missing values, and age will likely be a very influential feature). 
1. Write prep function
1. Split data
1. Write split function
1. Write prep_split_function

*1. Class/pclass: Do pclass and class represent the same info? If so, drop class and keep pclass because it is represented as an integer.*

In [ ]:
pd.crosstab(df['class'], df['pclass'])

Yes! Add 'class' to the list of columns to drop. 

*2. Dummy Vars: Do embarked and embark_town represent the same information? If so, get dummy variables for sex, embarked*

In [ ]:
pd.crosstab(df.embarked, df.embark_town)

YES! Get dummy variables for sex, embarked

In [ ]:
# get the boolean variables for classes in the sex and embarked columns, dropping one of the categories for each 
# original column

dummies_df = pd.get_dummies(df[['sex', 'embarked']], drop_first=True)
dummies_df

In [ ]:
# concatenate the dummy var to the original dataframe
df_with_dummies = pd.concat([df, dummies_df], axis=1)
df_with_dummies.columns

In [ ]:
# verify sex
pd.crosstab(df_with_dummies.sex, df_with_dummies.sex_male)

In [ ]:
# verify embarked
df_with_dummies.groupby('embarked')[['embarked_Q', 'embarked_S']].sum()

*3. Drop columns: embarked and sex columns (now dummy vars), deck (almost 700 missing values), class (#1 above was a YES). *

In [ ]:
# drop columns represented in dummy vars
df_dropped_cols_with_dummies = df_with_dummies.drop(columns=['embarked', 'sex', 'deck', 'class'])

*4. Drop rows where age is missing (177 rows are missing values, and age will likely be a very influential feature).*

In [ ]:
# drop rows where age is missing
df_cleaned = df_dropped_cols_with_dummies[df_dropped_cols_with_dummies.age.notnull()]

In [ ]:
# drop 2 rows where embark_town is null. \
df_cleaned = df_cleaned[df_cleaned.embark_town.notnull()]

In [ ]:
# take a look at our prepped data
df_cleaned.info()

*6. Write prep function*

In [ ]:
def clean_titanic(df):
    '''
    This function takes in dataframe as argument, 
    create dummy variables out of sex and embarked, and concats those to original dataframe
    drops columns embarked, sex, deck, class
    drops rows where age (177 rows) or embarked_town (2 rows) are null. 
    it returns the new cleaned dataframe.
    '''
    dummies_df = pd.get_dummies(df[['sex', 'embarked']], drop_first=True)
    df_with_dummies = pd.concat([df, dummies_df], axis=1)
    df_dropped_cols_with_dummies = df_with_dummies.drop(columns=['embarked', 'sex', 'deck', 'class'])
    df_cleaned = df_dropped_cols_with_dummies[df_dropped_cols_with_dummies.age.notnull()]
    return df_cleaned

In [ ]:
df = clean_titanic(df)

In [ ]:
from sklearn.model_selection import train_test_split
seed = 123
train_and_validate, test = train_test_split(
        df, test_size=0.2, random_state=seed, stratify=df.survived
    )

In [ ]:
train, validate = train_test_split(
        train_and_validate,
        test_size=0.3,
        random_state=seed,
        stratify=train_and_validate.survived)

In [ ]:
print(train.shape)
print(validate.shape)
print(test.shape)

In [ ]:
def train_validate_test_split(prepped_df, seed=123):
    train_and_validate, test = train_test_split(
        prepped_df, test_size=0.2, random_state=seed, stratify=prepped_df.survived
    )
    train, validate = train_test_split(
        train_and_validate,
        test_size=0.3,
        random_state=seed,
        stratify=train_and_validate.survived,
    )
    return train, validate, test

In [ ]:
train, validate, test = train_validate_test_split(df)

In [ ]:
print("(Rows, Columns)\nTrain: ", train.shape, 
      "\nValidate: ", validate.shape, 
      "\nTest: ", test.shape)
train.head()

Analyze Survival